.navbar {
    position: fixed;
    background-color: #BCC7CD;
    z-index: 1030;

}

section {
    padding-top: 80px;
    padding-bottom: 50px;
}

h2,
h3 {
    margin: 10px;
    font-family: Montserrat;
    color: #696969;
    padding-left: 40px;

}

h4 {
    font-family: Poppins;
    color: #696969;
    font-weight: 100;
}

p {
    font-size: 18px;
    font-family: lora;
    /* font-style:; */
    color: #708090;
    text-align: justify;
    letter-spacing: 2px;
    text-indent: 80px;

}

.container-fluid {
    padding: 60px;
    background-color: #F0F4F8;
    flex: 1;
}

.imgcard {
    border: #41424C;
    width: 300;
    height: 300;
}

.carousel {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    /* border-right: 1px solid #ddd; */
}

.slide:last-child {
    border-right: none;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

.contacts {
    text-align: center;
}

.icon {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: #41424C;
}

.icon:hover {
    color: #BCC7CD;
}

.footer {
    color: black;
    text-align: center;
    background-color: #333;
    padding-bottom: 5px;
}

/* .footer p {} */